h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.roboto {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.no-margin {
    margin: 0px;
}

.font-medium {
    font-weight: 500;
}

.color-main {
    color: #F2F2F2;
}

.color-green {
    color: #6EBC5B;
}

.color-focus-gray {
    color: #333333;
    ;
}

.color-gray2 {
    color: #666666;
    ;
}

.white-block {
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 30px;
}

input[type="text"] {
    padding-left: 9px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #F2F2F2 !important;
    outline: none;
    height: 36px;
    width: 410px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
}

table {
    font-family: 'Roboto';
    border: 1px solid #333333;
    font-size: 14px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

.main-content {
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

table td a:hover {
    color: #4F4F4F;
}

table th a {
    color: #333333;
    font-weight: 700;
}

table td a {
    color: #333333;
}

table th a:hover {
    color: #4F4F4F;
    font-weight: 700;
}

table th {
    font-family: 'Roboto';
    border: 1px solid #333333;
    padding-left: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #E0E0E0;
    color: #333333;
}

table tr:nth-child(2n-1) {
    background-color: #E0E0E0;
}

table td {
    color: #333333;
    font-family: 'Roboto';
    border: 1px solid #333333;
    padding-left: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.history {
    margin: 30px 0px;
}

input[type="email"] {
    padding-left: 9px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #F2F2F2 !important;
    outline: none;
    height: 36px;
    width: 220px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
}

textarea {
    height: 300px;
    width: 410px;
    padding-left: 9px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #F2F2F2 !important;
    outline: none;
    width: 520px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
}

input[type="password"] {
    padding-left: 9px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #F2F2F2 !important;
    outline: none;
    height: 36px;
    width: 220px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
}

input[type="tel"] {
    padding-left: 9px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #F2F2F2 !important;
    outline: none;
    height: 36px;
    width: 220px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
}

textarea:focus {
    border-color: #1b1b1b;
    outline: none;
}

input[type="text"]:focus {
    border-color: #1b1b1b;
    outline: none;
}

input[type="email"]:focus {
    border-color: #1b1b1b;
    outline: none;
}

input[type="password"]:focus {
    border-color: #1b1b1b;
    outline: none;
}

input[type="tel"]:focus {
    border-color: #1b1b1b;
    outline: none;
}

.tariff {
    margin: 30px 0px;
    padding: 0px 20px;
}

.main-form:nth-child(n) {
    padding-top: 55px;
    padding-left: 95px;
    padding-bottom: 80px;
}

.main-form li {
    margin: 10px;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.main-form ul {
    margin-bottom: 30px;
}

.form-phone {
    margin: 10px;
    font-size: 1.4rem;
    color: #666666;
}

.form-text-info {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #828282;
    margin: 15px 0 5px;
}

.form-text-afert {
    margin: 5px;
    font-size: 1.2rem;
    display: inline-block;
}

.form-text-afert a:hover {
    color: #777777;
}

.form-phone:hover {
    margin: 10px;
    font-size: 1.4rem;
    color: #777777;
}

.color-gray {
    color: #4F4F4F !important;
}

.color-nofocus-gray {
    color: #828282;
}

.color-main-gray {
    color: #BDBDBD;
}

.background-color-main {
    background-color: #F2F2F2;
}

.background-color-green {
    background-color: #6EBC5B;
}

.background-color-focus-gray {
    background-color: #333333;
}

.background-color-gray {
    background-color: #4F4F4F;
}

.background-color-nofocus-gray {
    background-color: #828282;
}

.background-color-main-gray {
    background-color: #BDBDBD;
}

.main-carousel-indicator {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #F2F2F2;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.5 7.5C14.5 10.724 11.6825 13.5 8 13.5C4.31749 13.5 1.5 10.724 1.5 7.5C1.5 4.27601 4.31749 1.5 8 1.5C11.6825 1.5 14.5 4.27601 14.5 7.5Z' stroke='%23F2F2F2' stroke-width='3'/%3e%3c/svg%3e ");
}

.main-carousel-indicators.active {
    background-color: #F2F2F2;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cellipse cx='8' cy='7.5' rx='8' ry='7.5' fill='%23F2F2F2'/%3e%3c/svg%3e ");
}

footer {
    padding-bottom: 30px;
}

.button {
    background-color: #6EBC5B;
    padding: 4px 22px;
    border-radius: 10px;
    text-decoration: none;
    color: #F2F2F2;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 36px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-top: 15px
}

.footer-title {
    margin: 30px 0px 13px;
}

.footer-link {
    color: #F2F2F2;
    text-decoration: none;
    margin: 8px 0px;
}

.footer-link:hover {
    color: #F2F2F2;
    text-decoration: underline;
}

.checkbox-border {
    width: 24px;
    height: 24px;
    border: 1px solid #666666;
    border-radius: 5px;
    margin: 10px 0px;
    display: inline-block;
}

#checkbox {
    position: relative;
    z-index: 3;
    left: 2px;
    top: 4px;
    width: 18px;
}

.button:hover {
    background-color: #7dbd6d;
    color: white;
    text-decoration: none;
    cursor: pointer
}

.mobile-footer {
    display: none;
}

.copy {
    color: #828282;
    text-decoration: none;
    margin-top: 20px;
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

.copy:hover {
    color: #828282;
    text-decoration: none;
}

.carousel-caption {
    text-align: left;
    bottom: 30vh;
    left: 10vw;
}

.carousel-caption h5 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0.7rem;
    color: #F2F2F2;
}

.carousel-caption p {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 3rem;
    color: #333333;
}

.sentences .col {
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.sentences .col:nth-child(1) {
    margin-right: 15px;
}

.sentences .col:nth-child(2) {
    margin-right: 15px;
    margin-left: 15px;
}

.sentences .col:nth-child(3) {
    margin-left: 15px;
}

.sentences img {
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 90%;
}

.sentences h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.sentences p {
    text-align: left;
    margin: 24px;
    font-size: 1rem;
}

.main-form {
    border-radius: 10px;
    margin-bottom: 50px;
}

select {
    display: inline;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    color: #333333;
    line-height: 1.3;
    padding: 9px;
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #F2F2F2;
    /* background-image: url('data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http: //www.w3.org/2000/svg'%3E%3Cpath d='M6 7L0.803848 0.25L11.1962 0.25L6 7Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A'), linear-gradient(to bottom, #F2F2F2 0%, #F2F2F2 100%); */
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L0.803848 0.25L11.1962 0.25L6 7Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

select:focus {
    border-color: #1b1b1b;
    outline: none;
}

.login-block {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.errors {
    margin-top: 20px;
}

.color-red {
    color: #a72222;
}

.pagination {
    justify-content: center;
    margin: 25px auto;
    text-align: center;
}

.pagination a {
    margin: 3px;
    font-family: Roboto;
    color: #333333;
    text-decoration: none;
    background-color: #F2F2F2 !important;
    border: none !important;
}

.pagination span {
    margin: 3px;
    font-family: Roboto;
    color: #333333;
    text-decoration: none;
    background-color: #F2F2F2 !important;
    border: none !important;
}

.pagination a:hover {
    text-decoration: underline;
    margin: 3px;
    font-family: Roboto;
    color: #333333;
}

.redo {
    margin-left: 15px;
}

.link-cabinet {
    color: #333333;
    margin: 5px 20px;
    font-size: 1.2rem;
}

.link-cabinet:hover {
    color: #4F4F4F;
}

.button-panel {
    margin: 20px 0 0;
}

@media (max-width:768px) {
    .button {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 42px;
        display: block;
        padding: 8px 22px 0px;
    }
    .login-block {
        width: calc(100% - 30px);
    }
    select {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
    input[type="text"] {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
    input[type="email"] {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
    input[type="password"] {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
    input[type="tel"] {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
    .margin-auto {
        margin: auto;
    }
    .form-text-afert {
        width: calc(100% - 60px);
        display: inline;
        float: right;
        margin-bottom: 15px;
    }
    .checkbox-border {
        width: 42px;
        height: 42px;
        margin-top: 25px;
    }
    #checkbox {
        width: 32px;
        left: 5px;
        top: 7px;
    }
    .footer-title {
        font-size: 1.4rem;
        margin: 30px 0px 13px;
    }
    .main-form:nth-child(n) {
        padding: 20px 5px;
        display: block;
    }
    .footer-link {
        color: #F2F2F2;
        font-size: 1rem;
        text-decoration: none;
        margin: 8px 0px;
    }
    .carousel-caption {
        text-align: left;
        bottom: 3vh;
        left: 5vw;
    }
    .sentences{
        display: block;
    }
    .sentences .col {
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .sentences .col:nth-child(1) {
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .sentences .col:nth-child(2) {
        margin-right: 0px;
        margin-left: 0px;
        margin: 10px 0px;
        margin-bottom: 10px;
    }
    .sentences .col:nth-child(3) {
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .col-5 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .sentences img {
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        /* width: 80vw; */
    }
    .redo {
        margin-left: 15px;
        width: 44px;
    }
    .sentences h3 {
        margin-top: 15px;
        margin-bottom: 7px;
        font-size: 1.8rem;
    }
    .sentences p {
        text-align: left;
        margin: 15px;
        font-size: 1rem;
    }
    .row {
        margin: 10px auto;
    }
    .col-4 {
        width: 100%;
    }
    .history {
        margin: 10px 0px;
    }
    .col-10 {
        width: 100%;
    }
    table th {
        padding: 9px;
    }
    table td {
        padding: 9px;
    }
    .history {
        font-size: 1.2rem;
    }
}

@media print {
    .print {
        display: none;
    }
}